.my-data {
  transition: ease-in-out 0.3s;
}

.modal-transition-enter-active,
.modal-transition-leave-active {
  transition: opacity 0.5s;
}

.modal-transition-enter,
.modal-transition-leave-to {
  opacity: 0;
}

.after-modal,
.video-modal {
  background-image: url(../../assets/images/second-background.svg);
  border: 3px solid #01b6fe;
}

.close {
  transition: transform 0.3s ease;
}

.close:hover {
  transform: rotate(45deg);
}
